<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>DPW Org Chart | New</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="new.js"></script>
  <script src="imageupload.js" type="text/javascript"></script>
  <style>
  body {
    background: #f5f2f0;
  }
  
  .divider-title {
    font-weight: 300;
  }
  
  .section {
    margin: 0 20px;
  }

  #videoElement {
    width: 100%;
    height: 375px;
    background-color: #f5f2f0;
  }
  </style>
</head>

<body ng-app="newEmployee">
  <div ng-controller="newEmployeeCtrl as ctrl" class="container">
    <h4 class="center-align">New Employee Form</h4>
    <div class="card">
      <form name="newEmployeeForm">

        <div class="section">
          <h4 class="divider-title">Your Photo</h4>
          <div class="file-field input-field">
            <div class="btn">
              <span>Image</span>
              <input type="file" 
                accept="image/*" 
                image="imageIn" 
                resize-max-height="75"
                resize-max-width="75"
                resize-quality="0.1" 
                capture="camera" required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>          
        </div>
        <img ng-show="imageIn" ng-src="{{imageIn.url}}" style="width:100%;"/>
        <!--video autoplay="true" id="videoElement" style="background-color:rgba(0,0,0,.46)"></video-->
        <div class="divider" style="position: relative; bottom: 6px;"></div>
        <div class="section">
          <h4 class="divider-title">Your Information</h4>
          <div class="row">
            <div class="input-field col s12 l3">
              <input ng-model="dsw" id="dsw" type="number" class="validate" required>
              <label for="dsw">DSW Number</label>
            </div>
            <div class="input-field col s12 l3">
              <input ng-model="first" id="first_name" type="text" class="validate" required>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12 l3">
              <input ng-model="last" id="last_name" type="text" class="validate" required>
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12 l3">
              <input ng-model="nickname" id="nick_name" type="text">
              <label for="nick_name">Nickname <em>(optional)</em></label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 l6">
              <input ng-model="phone" id="phone" type="tel" class="validate" required>
              <label for="phone">Phone</label>
            </div>
            <div class="input-field col s12 l6">
              <input ng-model="email" id="email" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 l3">
              <input ng-model="title" id="title" type="text" class="validate" required>
              <label for="title">Job Title</label>
            </div>
            <div class="input-field col s12 l3">
              <input ng-model="classification" id="classification" type="text" class="validate" required>
              <label for="classification">Classification</label>
            </div>
            <div class="input-field col s12 l3">
              <input ng-model="bureau" id="bureau" type="text" class="validate" required>
              <label for="bureau">Bureau</label>
            </div>
            <div class="input-field col s12 l3">
              <input ng-model="department" id="department" type="text" class="validate" required>
              <label class="active" for="department">Department</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea ng-model="bio" id="bio" class="materialize-textarea"></textarea>
              <label for="bio">Bio</label>
            </div>
          </div>
        </div>
        <div class="divider"></div>

        <div class="section">
          <h4 class="divider-title">Your Manager's Information</h4>
          <div class="row">
            <div class="input-field col s12 l3">
              <input ng-model="manager_dsw" id="manager_dsw" type="number" class="validate">
              <label for="manager_dsw">DSW Number <em>(optional)</em></label>
            </div>
            <div class="input-field col s12 l3">
              <input ng-model="manager_first" id="manager_first" type="text" class="validate" required>
              <label for="manager_first">First Name</label>
            </div>
            <div class="input-field col s12 l3">
              <input ng-model="manager_last" id="manager_last" type="text" class="validate" required>
              <label for="manager_last">Last Name</label>
            </div>
            <div class="input-field col s12 l3">
              <input ng-model="manager_email" id="manager_email" type="email" class="validate">
              <label for="manager_email">Email <em>(optional)</em></label>
            </div>
          </div>
        </div>
        <div class="section">
          <button ng-click="ctrl.submitNewEmployee(imageIn)" class="btn waves-effect waves-light" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>
